{% extends "base.html" %}
{% block title %} Ajouter un GENRE (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter une note
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.notes_wtf.label }}<br>
						{{ form.notes_wtf(size=32) }}<br>
						{% for error in form.notes_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.fk_matiere_wtf.label }}<br>
						{{ form.fk_matiere_wtf(size=32) }}<br>
						{% for error in form.fk_matiere_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.fk_typeNotes_wtf.label }}<br>
						{{ form.fk_typeNotes_wtf(size=32) }}<br>
						{% for error in form.fk_typeNotes_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.fk_apprenti_wtf.label }}<br>
						{{ form.fk_apprenti_wtf(size=32) }}<br>
						{% for error in form.fk_apprenti_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

